<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>320680724618-amj1e2sl7jh9babjk5hnq57fhfuvku66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320680724618-amj1e2sl7jh9babjk5hnq57fhfuvku66</string>
	<key>API_KEY</key>
	<string>AIzaSyDzikdWmjg7M4bQCq7LSMgMqhtvKCLAMf8</string>
	<key>GCM_SENDER_ID</key>
	<string>320680724618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hack.cool.NexmiiHack</string>
	<key>PROJECT_ID</key>
	<string>hacknexmii</string>
	<key>STORAGE_BUCKET</key>
	<string>hacknexmii.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:320680724618:ios:1cb7faad9dc1b32f</string>
	<key>DATABASE_URL</key>
	<string>https://hacknexmii.firebaseio.com</string>
</dict>
</plist>